<div class="video-player">
  <div class="embed-responsive embed-responsive-16by9">
    <!--<iframe class="embed-responsive-item" ng-src="{{$ctrl.url}}" allowFullScreen></iframe>-->
    <ng-youtube-embed 
    video="$ctrl.url"
    videoId="$ctrl.url"
    autoplay="true"
    color="white"
    disablekb="true"
    end="20"
    enablejsapi="true"
    onstatechange="$ctrl.next">
  </ng-youtube-embed>
  </div>
  <div class="video-player-details">
    <h3>{{$ctrl.title}}</h3>
    <div>{{$ctrl.description}}
      <button ng-click="$ctrl.details()">+</button>
    </div>
  </div>
</div>
